services:
  postgres:
    image: postgres:15-alpine
    container_name: inventory-postgres
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
    ports:
      - "5434:5432"
    volumes:
      - inventory_data:/var/lib/postgresql/data

volumes:
  inventory_data:


